@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans&display=swap');

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(
    to bottom right,
    blue,
    indigo,
    rgb(124, 0, 52),
    indigo,
    blue
  );
    margin: 0;
    font-family: 'Alumni Sans', sans-serif;
}

h1{
    text-align: center;
    font-size: 6rem;
    margin: 0 0 2rem 0;
    line-height: 0.7;
}