@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans&display=swap');

/* paleta de cores
Azul base: #0C3683
Violeta detalhes: #8C6ABE
Vermelho especial: #7D283C
Cinza chato: #8D918D
Branco Fundo: #FFF
Amarelo estranho: #F83C16
*/

body {
    margin: 0;
    font-family: 'Alumni Sans', sans-serif;
    font-size: 18px;
}

h1{
    text-align: center;
    font-size: 6rem;
    margin: 0 0 2rem 0;
    line-height: 0.7;
}