body {
    background-image: linear-gradient(
    to bottom right,
    blue,
    indigo,
    rgb(124, 0, 52),
    indigo,
    blue);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#login-area {
    width: 100%;
    max-width: 400px;
    padding: 15px;
}

.login-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 2px;
    color: #555;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.form-group input:focus {
    border-color: #c114e4;
    outline: none;
}

.form-actions button {
    width: 100%;
    padding: 12px;
    background-color: indigo;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: bold;
    transition: background-color 0.3s;
}

.form-actions button:hover {
    background-color: #0056b3;
}